
<div class="card" style="width:400px">
  <img class="card-img-top" src="img_avatar1.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn-primary">See Profile</a>
  </div>
</div>
<div class="container">
<div class="row">


  <ul class="list-group" >
    <li ng-repeat="it in ctrl2.item" class="list-group-item"><h3>{{it.name  }}<span class="label label-primary">{{it.short_name}}</span></h3>
      <p>Description:{{it.description}}</p>
      <p>{{it.large_portion_name}}:${{it.price_large}}</p>

    </li>
  </ul>
</div>
</div>
