
<div>
  <div>
  <ul ng-repeat="it in ctrl.item1  ">
    <li ui-sref="Items({shortName:it.short_name})"><span class="badge badge-primary">{{it.short_name}}</span>{{it.name}}</li>
  </ul>
</div>
  <div>
  <ul class="list-group" >
    <li ng-repeat="it in ctrl2.item" class="list-group-item"><h3>{{it.name  }}<span class="badge badge-info">{{it.short_name}}</span></h3>
      <p>Description:{{it.description}}</p>
      <p>{{it.large_portion_name}}:${{it.price_large}}</p>

    </li>
  </ul>
</div>
</div>
