<div class="container">
<div class="row">
<h1>Welcome to ADDY's Resturant <small>please click<a ui-sref="Catogories">Catogories</a> to explore</small></h1>
</div>
</div>
<div class="container">
<div class="row  col-md-12">
<!--  -->
<div id="test" class="col-xs-6">
  <blockquote>
  <p>One cannot think well, love well, sleep well, if one has not dined well.</p>
  <footer> <cite title="Source Title">Virginia Woolf</cite></footer>
</blockquote></div>


<!--  -->
<div id="test" class="col-xs-5">
    <blockquote>
<p>There is no sincerer love than the love of food.</p>
<footer>
 <cite title="Source Title"> George Bernard Shaw</cite></footer>
</blockquote>
</div>


</div>
</div>
